#admin-component #body-row {
  margin-left: 0;
  margin-right: 0;
}
#admin-component #sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
#admin-component .sidebar-expanded {
  width: 230px;
}
#admin-component .sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#admin-component #sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#admin-component #sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
#admin-component .sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
#admin-component .sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
#admin-component .sidebar-separator {
  background-color: #333;
  height: 25px;
}
#admin-component .logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#admin-component
  #sidebar-container
  .list-group
  .list-group-item[aria-expanded='false']
  .submenu-icon::after {
  content: ' \f0d7';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#admin-component
  #sidebar-container
  .list-group
  .list-group-item[aria-expanded='true']
  .submenu-icon::after {
  content: ' \f0da';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
